@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gamja Flower';
    background-color:#aaa9ad;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 3rem;
    background: url('BTSImages/Group4.jpg') no-repeat center;
}

/* Navigation */
nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    -webkit-text-fill-color: #5024e1;
    -webkit-text-stroke: 1px black;
    margin: 0 0.5rem;
    font-size: 2rem;
}    

/*Nav Hover effect */
nav a:hover {
    display: inline-block;
    transform: scale(1.1)
}

/* Title */
#title {
    -webkit-text-fill-color:#5024e1;
    -webkit-text-stroke: 0.05rem black;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
}

/* Main */
#Intro h1, h2 {
    -webkit-text-fill-color:#654eb0e4;
    -webkit-text-stroke: 0.05rem black;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

#Intro p {
    color: black;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}
#disc h2, #main h3 {
    color: black;
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
}

#members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Back to top */
.button {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid #711cfa;
    padding: 0, 0.5rem;
    -webkit-text-stroke: 0.05rem black;
}

.btn-purple {
    color:#711cfa;
    border-color: #711cfa;
    display: inline-block;
    align-items: center;
}

/* Copyright */
#Copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
